@import '../variables.scss';

header {
    background: $secondary-background;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    color: $highlight;
}